body {
    font-family: $font-primary;
    color: $color-primary;

    h1, h2, h3, h4, h5, h6 {
        font-family: $font-heading;
        color: $color-heading;
    }

    h1 { font-size: $heading-xl }
    h2 { font-size: $heading-lg }
    h3 { font-size: $heading-md }
    h4 { font-size: $heading-sm }
    h5 { font-size: $heading-xs }
    h6 { font-size: $heading-xxs }

    p  { font-size: $text-md }
}

p.text-subheading {
    font-size: $heading-xxs;
    color: $color-secondary;
}

.background-accent {
    background-color: $color-accent;
}

.text-inverse {
    color: $color-inverse;
}

.text-description {
	font-size: $text-sm;
	color: $color-light;
}
