// colors
$color-accent: #157FD7;
$color-primary: #222;
$color-secondary: #646872;
$color-light: #7D7D7D;
$color-inverse: rgb(240,240,240);
$color-heading: #2F2F2F;

// fonts
$font-primary: "Roboto", "Helvetica Neue", Helvetica, serif;
$font-heading: "Lato-700", "Helvetica Neue", Helvetica, serif;

$heading-xl: 36px;
$heading-lg:  32px;
$heading-md:   28px;
$heading-sm:  24px;
$heading-xs:  20px;
$heading-xxs: 16px;

$text-md: 16px;
$text-sm: 14px;
