.page-banner {
	height: 500px;
	width: 100%;
	overflow: hidden;
	position: relative;

	.page-banner-footer {
		position: absolute;
		bottom: 0px;
		padding: 15px;
		width: inherit;
		z-index: 1;

		// .container {
		// 	width: 100%;
		// }


		.swiper-pagination, .input-recipe-filter {
			bottom: 15px;
		}

		.swiper-pagination {

			.swiper-pagination-bullet {
				width: 16px;
				height: 16px;
				margin: auto 5px;
				background-color: #FFF;
				border: 2px solid #CCC;
			}
		}

		.input-recipe-filter {
			position:absolute;
			max-width: 400px;
			right: 0;
		}

	}

}

@media only screen and (max-width: 800px) {
	.page-banner {
		height: 350px;
	}
}
