.card {
	border: solid 1px #e5e5e5;
	@include box-shadow(0, 0, 2px, 1px, #f1f1f1)
}

.featured-recipe {
	display: flex;
	padding: 10px;
	margin-bottom: 20px;

	.featured-recipe-description {
		width: 65%;
		padding-right: 15px;
	}

	.featured-recipe-preview {
		width: 35%;
		text-align: center;
	}
}

// override thumbnail style
.thumbnail {
	@include border-radius(0);
	@extend .card;
	padding: initial 10px;
}
